.text_answer_input {
  border: none;
  outline: none;
  border-bottom: 2px solid #b3c7e7;
  margin-bottom: 15px;
  font-size: 30px;
  padding: 0 0 8px 0px;
  color: #0445af;
}

.text_answer_input:focus {
  border-bottom: 3px solid #0445af;
}

.text_answer_input::placeholder {
  color: #b3c7e7;
}
