/* radio */

.radio_input_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  border-radius: 4px;
  border: 3px solid #b0c4e6;
  color: #0445af;
  min-width: 250px;
  text-align: left;
  background-color: #e5ecf7;
  margin-bottom: 5px;
  position: relative;
}

.radio_input_button_option {
  border: 1px solid #0445af;

  padding: 3px 8px;
  border-radius: 2px;
  margin-right: 5px;
  background: #fff;
}

.radio_input_content_wrapper {
  display: flex;
  align-items: center;
  padding: 8px 0px;
}
.radio_input_content_wrapper > p {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 15%;
  z-index: 999;
}

.active_input {
  border: 3px solid #0445af;
}

.active_input .radio_input_button_option {
  background-color: #0445af;
  color: #fff;
}
