.wrapper-grid1 {
  position: relative;
}
.wrapper-grid2{
  position: relative;
}
.btn-banner{
  position: absolute;
  bottom:10%;
  left:65%;
  
}
.box-grid {
  width: 70%;
  flex: 1;
  position: absolute;
  top: 30%;
  margin: auto;
  left: 20%;
}
.grid-question {
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Open Sans", "Helvetica Neue", sans-serif;
}
.grid-question span {
  color: #0445af;
  font-size: 18px;
}
.wrapper img {
  width: 100%;
  height: 100vh;
}
