.date_input_wrapper {
  color: #b0c4e6;
  font-size: 30px;
}

.date_input {
  border: none;
  outline: none;
  border-bottom: 2px solid #b0c4e6;
  font-size: 30px;
  color: #0445af;
  margin: 0 10px;
}
.date_input::placeholder {
  color: #b0c4e6;
}
.date_input:focus {
  border-bottom: 2px solid #0445af;
}

.day,
.month {
  max-width: 60px;
}

.year {
  width: 110px;
}
