.transition-ease-in-out {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}
.wrapper-grid1 {
  position: relative;
}
.wrapper-grid2 {
  position: relative;
}

.box-grid {
  width: 70%;
  flex: 1;
  position: absolute;
  top: 20%;
  margin: auto;
  left: 20%;
}
.grid-question {
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Open Sans", "Helvetica Neue", sans-serif;
}
.grid-question span {
  color: #0445af;
  font-size: 22px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.grid-button {
  margin-top: 18px !important;
  background-color: #0445af !important;
  padding: 6px 14px !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  
  
}

.wrapper .navigation {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;

  display: flex;
  gap: 20px;
}

.wrapper img {
  width: 100%;
  height: 100vh;
}
@media screen and (min-width: 1400px) {
  .grid-question {
    font-size: 34px;
  }
  .grid-question span {
    font-size: 34px;
  }

  .grid-button {
    padding: 8px 30px !important;
    font-size: 20px !important;
  }
}
